<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
</head>
<body>
<div id="bg"></div>
<main class="content">
    <div class="single">

        <h1>Registration Page!</h1>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}

            {% if form.errors %}
                <p>There are errors in the form!</p>
            {% endif %}

            <div style="color:#ffffff;">
                {{ form }}
            </div>

            <div class="form-field">
                <input class="btn" type="submit" value="Register">
            </div>

            <a href="{% url 'index' %}"><h3 style="color:#ffffff;" align="center">Not sure you want to register? Go to HomePage</h3></a>

        </form>



    </div>


</main>
</body>
</html>
